.container{
    background-color: salmon;
    padding: 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.header{
    text-align: center;
}
.contenido{
    text-align: center;
}
.footer{
    text-align: center;
}