*{
    font-family: Verdana;
    /* background-color: black; */
    color: white;
    margin: 1vw;
    box-sizing: border-box;
    padding: 1vw;
}
html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
.padre{
    /* background-color: black; */
    display: flex;
    margin: 0px;
    padding: 0px;
    /*
    flex-direction: column;
    flex-wrap: nowrap;
    */

    /* Esta linea resume las 2 anteriores */
    flex-flow: column nowrap;
}

.header{
    background-color: rgb(110, 27, 98);
    margin: 0px;
    color: white;
    display: flex;
    flex-flow: column nowrap;
}
.menu{
    background-color: cornflowerblue;
    display: flex;
    flex-flow: row nowrap;
    height: 10vw;
    align-items: center;
}
.logo{
    background-color: coral;
    height: 5vw;
    flex: 1 1 auto;
}
.nav{
    background-color: coral;
    height: 5vw;
    /* Para que se vea mas grande pongo 5 1 auto */
    flex: 5 1 auto;
}
.social{
    background-color: coral;
    height: 5vw;
    flex: 1 1 auto;
}
.texto-principal{
    background-color: orange;
}
.h1{
    background-color: lightseagreen;
}


.section{
    background-color: peru;
    display: flex;
}
.articulos{
    background-color: purple;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}
.article{
    background-color: darkblue;
    flex: 1 1 40%;
}
.navegacion{
    background-color: lightskyblue;
    flex: 1 1 100%;
}
.aside{
    background-color: pink;
    flex: 1 1 auto;
    /* display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; */
}
.publicidad{
    background-color: green;
}



.footer{
    background-color: #303030;
    margin: 0px;
    color: white;
    display: flex;
    justify-content: center;
}
.pie{
    width: 20vw;
    background-color: lime;
}

@media all and (max-width: 800px){
    /* pasamos el aside abajo */
    .section{
        /* los pongo en columnas para que quede abajo */
        flex-direction: column;
    }
    .menu{
        /* los elementos del menu uno debajo del otro */
        flex-direction: column;
        height: auto;
    }
    .logo{
        width: 100%;
        text-align: center;
    }
    .nav{
        width: 100%;
        text-align: center;
    }
    .social{
        width: 100%;
        text-align: center;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}